@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600&display=swap");

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  font-size: larger;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary-color: #009879;
}

.relative {
  position: relative;
  width: 100%;
}
.flex {
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
}

.container h1 {
  text-align: left;
  width: 100%;
  color: var(--primary-color);
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: var(--primary-color);
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th {
  cursor: pointer;
}
.content-table th,
.content-table td {
  padding: 12px 30px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid var(--primary-color);
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: var(--primary-color);
}

.search-input {
  outline: none;
  border-radius: 5px;
  font-size: large;
  border: 1px solid var(--primary-color);
  padding: 10px 20px 10px 50px;
  width: 400px;
  margin: 5px auto;
}

.search-icon {
  position: absolute;
  z-index: 2;
  padding: 14px;
  opacity: 50%;
}

@media screen and (max-width: 700px) {
  .content-table th,
  .content-table td {
    padding: 12px 10px;
  }
  .container {
    max-width: 100%;
  }
  .content-table {
    min-width: 100%;
  }
  .search-input {
    width: 80%;
  }
}
